doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        title Марафон
        link(rel="stylesheet",href="css/normalize.css")
        link(rel="stylesheet",href="css/style.css")
        link(rel="preconnect",href="https://fonts.googleapis.com")
        link(rel="preconnect",href="https://fonts.gstatic.com",crossorigin)
        link(rel="stylesheet",href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap")
    body
        header.header
            .header__title Авторский онлайн-марафон<br/><span>по ПДД Республики Казахстан</span>
            .header__logo-rect 
                img.header__logo.logo(src="images/logo.png",alt="Логотип школы вождения Автоонлайн",width="202",height="53")
            .header__start-time 20 мая / 20:00<br/><span>Начало марафона</span>    
        main.main
            section.intro
                .intro__container                    
                    h1.intro__title изучи ПДД за 7 дней<br/><span>по понятным видео-урокам,</span>
                    p.intro__subtitle и получи возможность <span>выиграть денежные призы</span>                   
                    .intro__rect
                        p.intro__rect-text Обучение проходит онлайн в нашем сервисе видео-уроков.
                    .intro__row
                        a.intro__btn-join(href="#")
                            p.intro__btn-join-text участвовать
                        .intro__row-text-container
                            p.intro__row-text Участие в марафоне<br/>абсолютно <span>бесплатно</span>    
                            p.intro__row-discount &nbsp;15 000₸&nbsp;
                    img.intro__sign2-img(src="images/novice-sign.png", alt="Заблюреный декоративный знак ученик", width="113", height="99")
                img.intro__sign-img(src="images/road-sign.png", alt="Заблюреный декоративный дорожный знак", width="220", height="220")
            section.tasks
                .container
                    h2.tasks__title.section-title Выполняй задания на марафоне
                    p.tasks__subtitle.section-subtitle и получи крупные денежные призы и подарки! 
                    ul.tasks__step-list
                        li.tasks__step-item.tasks-step-1
                            div.tasks__step-num-container
                                p.tasks__step-num 01
                            p.tasks__step-text Смотри каждый день видеоуроки на нашем сайте
                        li.tasks__step-item.tasks-step-2 
                            div.tasks__step-num-container
                                p.tasks__step-num 02
                            p.tasks__step-text Делай домашние задания и отправляй нам                       
                        li.tasks__step-item.tasks-step-3
                            div.tasks__step-num-container
                                p.tasks__step-num 03
                            p.tasks__step-text Самые активные марафонцы получат крупные денежные призы и подарки 
            section.about
                .container
                    .about__container-inner
                        .about__col-1
                            .about__col-1-header
                                h2.about__col-1-header-title.section-title Узнай о нас
                                p.about__col-1-header-subtitle.section-subtitle немного больше...
                            .about__col-1-frame
                                h3.about__col-1-frame-title-1.about__col-1-frame-title Автошкола "AutoOnline" основана в 2017 году Кайратом и Асылжаном.
                                p.about__col-1-frame-text-1.about__col-1-frame-text Они создали <span>первый в Казахстане</span> сервис для онлайн обучения в автошколе. Это позволило тысячам Казахстанцев дистанционно изучить ПДД, а затем получить свидетельство автошколы.
                                h3.about__col-1-frame-title-2.about__col-1-frame-title В 2021 году "AutoOnline" становится не просто автошколой,
                                p.about__col-1-frame-text-2.about__col-1-frame-text а сервисом для обучения всех курсантов из других автошкол. За первые 4 месяца 2022 года, более 2000 Казахстанцев прошли обучение по новой программе 3D видео-уроков согласно изменениям ПДД.<br/><br/>За весь период работы, нашим сервисом воспользовались <span>более 100 000 человек со всего Казахстана.</span>
                            .about__col-1-frame-mission
                                h3.about__col-1-frame-mission-title Наша миссия:
                                p.about__col-1-frame-mission-text Модернизация сферы ПДД РК, создание безопасной среды дорожного движения, и изменение представления об обучении в автошколе.
                        .about__col-2
                            p.about__col-2-video-text Смотри видео<br/>о "AutoOnline"
                            a.about__col-2-video-button(href="#") 
            section.you-get 
            section.faq 
            section.join-us

        footer.footer